{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p>
I am an experienced IT professional with a background in IT operations, DevOps, and web development.
        My career has been dedicated to optimizing and enhancing IT infrastructure, ensuring seamless operations,
        and driving innovation through automation. I have a passion for developing automation scripts and
        making CI/CD pipelines more robust, which has significantly improved efficiency and reliability in
        various projects.

        In my spare time, I enjoy working on websites and creating innovative solutions to everyday problems.
        This hobby allows me to explore new technologies and continuously improve my skills.
        My dedication to finding creative and effective solutions has been a driving force in both my
        professional and personal projects.
    </p>

</main>
{% endblock %}