{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p>
        I am an experienced IT professional with a background in operations, devops, and web development.
        My career has been dedicated to optimizing and enhancing application infrastructure, ensuring seamless operations,
        and driving innovation through automation. I have a passion for developing automation scripts and
        making CI/CD pipelines more robust.

        In my spare time, I enjoy working on websites and creating innovative solutions to everyday problems.
        My dedication to finding effective solutions has been a driving force in both my
        professional and personal projects.
    </p>

</main>
{% endblock %}