{% extends 'base.html' %}

{% block content %}

<main class="main main--content">
    <dl>
        <div class="contact">
            <dt><i class="fas fa-envelope"></i> </dt>
            <dd class="contact__details">
                <a class="contact__link" target="_blank" href="mailto:leekempson@hotmail">leekempson@hotmail.com</a>
            </dd>
        </div>
        <div class="contact">
            <dt>
                <a class="contact__link" href="https://github.com/Kempy4563?tab=repositories" target="_blank">
                    <i class="fab fa-github"></i> Github:
                </a>
            </dt>
            <dd class="contact__details"></dd>
        </div>
        <div class="contact">
            <dt>
                <a class="contact__link" href="https://www.linkedin.com/in/lee-kempson-8b865b294/" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn:
                </a>
            </dt>
            <dd class="contact__details"></dd>
        </div>
    </dl>
</main>

{% endblock %}