{% extends 'base.html' %}

{% block content %}

<main class="main main--content">
    <dl>
        <div class="contact">
            <dt><i class="fas fa-envelope"></i> Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:leekempson@hotmail">leekempson@hotmail.com</a>
            </dd>
        </div>
        <div class="contact">
            <dt><i class="fab fa-github"></i> Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Kempy4563?tab=repositories" target="_blank">@Kempy4563</a>
            </dd>
        </div>
        <div class="contact">
            <dt><i class="fab fa-linkedin"></i> LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/lee-kempson-8b865b294/" target="_blank">LinkedIn</a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}