{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        This Habit Tracker app was inspired by the book "Atomic Habits." The book's main takeaway is
                        that small habits can make big differences. With this in mind,
                        the application allows users to add daily habits to track. The app
                        uses Python/Flask and CSS styling. By focusing on incremental
                        improvements, users can build positive habits over time and achieve significant
                        personal growth. The intuitive interface makes it easy to add, track, and manage
                        habits, helping users stay motivated and consistent in their journey towards self-improvement.
                    </p>

                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                        </ul>
                    </article>

                    <a class="cta" target="_blank" href="{{ project['prod'] }}">
                        <img class="cta__icon"  src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}