{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                    I was tired of referring to my notes for air fryer recipes, so I decided to create an app
                        to store them. The app allows users to register and add their own recipes, which they
                        alone can edit. It was a fun project to build and taught me many aspects of website design,
                        including authentication and user profiles. This project not only solved a
                        personal inconvenience but also provided valuable experience in developing practical
                        web applications.
                    </p>

                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">Django</li>
                            <li class="technology-list__item">CSS</li>
                            <li class="technology-list__item">PostgreSQL</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}