/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Lato, "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: auto; /* add this line */

}

/* Header Styles */

.header {
  text-align: center;
  z-index: 1;
}

.nav {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  text-indent: 3;
}

.nav__linkheader {
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 0.5rem 1rem;
}

.nav__linkheader--active {
  font-weight: bold;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:not(:last-of-type) {
  margin-right: 2.5rem;
}

/* Main Styles */

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px; /* add this line */

}

.main--about {
  flex-direction: column;
  max-width: 600px;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
  position: relative;
  top: -10rem;
}

/* Contact Styles */

.contact {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.contact__details {
  margin-left: 1ch;
}

.contact__link {
  color: #000;
  text-decoration: none;
  box-shadow: 0 3px 0 0 #4cafda;
}

.contact__link:hover {
  color: #4cafda;
}

/* Projects Styles */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.25rem;
  justify-content: center;
  justify-items: center;
  max-width: 21.875rem;
  margin: 0 auto;
}

@media (min-width: 48.75em) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 45rem;
  }
}

@media (min-width: 70em) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    max-width: 68rem;
  }
}

.project-card {
  padding: 0.75rem 0;
}

.project-card__image {
  width: 100%; /* add this line */
  height: 200px; /* add this line */
  object-fit: cover; /* add this line */
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
  object-position: center;
  aspect-ratio: 16/9; /* add this line */

}

.project-card__meta {
  padding: 0 1.25rem;
}

.project-card__name {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #1c2023;
  text-align: center;
}

.project-card:hover .project-card__image {
  transform: translateY(-0.5rem);
}

.project-card:hover .project-card__name {
  text-decoration: underline;
}

/* Categories Styles */

.categories {
  display: flex;
  padding: 0;
  margin: 0 0 0.75rem;
  color: #3d84a3;
  list-style: none;
  line-height: 1.45;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.075rem;
  justify-content: center;
}

.categories__tag:not(:last-of-type)::after {
  content: "|";
  margin: 0 0.25rem;
}

/* Hero Styles */

.hero {
  width: 100%;
  height: 40%;
  margin-bottom: 1.5rem;
}

/* Project Styles */

.project {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  max-width: 50rem;
  padding: 0 1rem;
}

.project__content {
  margin-bottom: 1rem;
  line-height: 150%;
}

@media (min-width: 48.75em) {
  .project {
    flex-direction: row;
    padding: 0;
  }
  .project__content {
    flex: 7;
    margin-right: 3rem;
    padding: 0;
    text-align: left;
  }
}

.project__heading {
  margin: 0;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #1c2023;
  text-align: center;
}

.project__heading--meta {
  font-size: inherit;
  margin-bottom: 1rem;
}

.project__meta-group {
  margin-bottom: 1rem;
}

.project__meta-group,
.cta {
  padding: 1rem;
  background-color: #d4eafa;
  border-radius: 6px;
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #1c2023;
  text-decoration: none;
}

.cta:hover {
  text-decoration: underline;
}

.cta__icon {
  margin-right: 0.5rem;
  transform: translateY(1px);
}

/* Technology List Styles */

.technology-list {
  list-style: none;
  padding-left: 0.75rem;
  margin: 0;
  line-height: 1.75;
  text-align: left;
}

.technology-list__item:before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-image: url("/static/img/list-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  transform: translateY(2px);
}

/* Utility Classes */

.u-bare-link {
  text-decoration: none;
}

/* Footer Styles */

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 200px;
}

footer .row div {
  margin-right: 20px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

footer a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

footer li {
  margin-right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* add this line */
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer {
  margin-top: auto;
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
}